<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 파일이름 대신 namespace 이름을 불러서 사용 -->

<mapper namespace="com.itwillbs.mappers.orderMapper">
	
	<!-- ?대신 memberDTO의 멤버변수명 사용 #{id}-->
<!-- 	<insert id="memberinsertpro"> -->
<!-- 		insert into employees(emp_no,dept_cd,grade_cd,priv_cd,emp_name,emp_pass)  -->
<!-- 		values(#{emp_no},#{dept_cd},#{grade_cd},#{priv_cd},#{emp_name},#{emp_pass}) -->
<!-- 	</insert> -->

<!-- 	<select id="getMaxEmp_no" resultType="java.lang.Integer"> -->
<!-- 		select max(emp_no) from employees -->
<!-- 	</select> -->
	
	 <select id="getorderlist" resultType="com.itwillbs.domain.OrderDTO">
    	select * from order
    	<if test="search != null">
    	where instruction_cd like CONCAT('%',#{search},'%')
    	</if>
    	order by order_cd
    	limit #{startRow},#{pageSize}	
    </select>
	
	<select id="getordercount" resultType="java.lang.Integer">
        select count(*) from order
        <if test="search != null">
    	where instruction_cd like CONCAT('%',#{search},'%')
    	</if>
    </select>
    
    
    
<!--     OMDTO관련 sql문 더 들어와야함 -->
    
    
    

<!--     <select id="orderinfo" resultType="com.itwillbs.domain.OrderDTO"> -->
<!--         select order_cd, product_cd, product_count, line_cd, procom_date, wh_dv, wh_dv2 -->
<!--         from order_management -->
<!--         where order_cd = #{order_cd} -->
<!--     </select> -->
    
    <insert id="orderinsertpro">
        insert into order(instruction_cd, order_cd, product_cd, instruction_qt, line_cd, instruction_date, instruction_state) 
		values(#{instruction_cd},#{order_cd},#{product_cd},#{instruction_qt},#{line_cd},#{instruction_date},#{instruction_state})
    </insert>
    
    <select id="orderinfo" resultType="com.itwillbs.domain.OrderDTO">
        select *
        from order
        where instruction_cd = #{instruction_cd}
    </select>
    
    <delete id="orderdelete">
  		delete from order
  		where instruction_cd = #{instruction_cd}
    </delete>
    

 
 

    
<!-- 	<select id="userCheck" resultType="com.itwillbs.domain.MemberDTO"> -->
<!-- 		select * from members  -->
<!-- 		where id = #{id} and pass = #{pass}  -->
<!-- 	</select> -->

<!-- 	<select id="selectBlog" parameterType="int" resultType="Blog">
        select * from Blog where id = #{id}
    </select>
    
    <insert id="">
    </insert>
    
    <update id="">
    </update>
    
    <delete id="">
    </delete> -->
    
</mapper>
